<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voiture</title>
</head>
<body>
<h1>Voiture</h1>
<table>
    <tr>
        <th>Marque</th>
        <th>Model</th>
        <th>Année</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getMarque}"></td>
        <td th:text="${car.getModel}"></td>
        <td th:text="${car.getAnnee}"></td>
    </tr>
</table>

</body>
</html>